[submodule "submodules/pure"]
	path = submodules/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/fzf-tab"]
	path = submodules/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
